*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1b1b1b;

}

.calculator{
    position: relative;
    display: grid;
    
}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    border: 1px solid #333;
    background: #292929;
    place-items: center;
    color: white;
}
.calculator span:hover{
    background: #333;
    cursor: pointer;
}
.calculator span:active{
    background: #ff9900;
    color: white;
}   

.calculator span.clear{

    grid-column: span 2;
    background: #ff9900;
    color: white;
    font-weight: 700;
    width: 120px;
}
.calculator span.plus{
    grid-row: span 2;
    height: 120px;

}

.calculator span.equal{
    grid-row: span 2;
    
    background: #ff9900;
    color: white;
    font-weight: 700;
}